
  
.navbar-burger {
    transform: scale(1.5);
    /* Adjust the scale value as needed */
  }

  /* Add this to your custom.css file and make sure it's loaded after bulma.css */
.navbar-item img {
    max-height: none;
    /* This will override the default max-height */
    height: auto;
    /* Retain the aspect ratio */
    width: auto;
    /* Retain the aspect ratio */
  }

  /* If you want to specifically set a size */
.navbar-item img {
    height: 80px;
    /* Or whatever height you want */
    width: auto;
    /* Adjust width accordingly to maintain the aspect ratio */
  }

  .responsive-iframe {
    width: 100%;
    height: 500px; /* Fixed height or use aspect ratio for responsive height */
    border: none;
  }
  
  /* Responsive aspect ratio for 16:9 videos or iframes */
  .aspect-ratio-iframe {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .aspect-ratio-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }